<form id="productsForm">
    <label>Nombre:</label>
    <input type='text' name='name' pattern="[a-zA-Z ]+">
    <label>Precio:</label>
    <input type='number' name='price' min="0" step="0.01" name="price">
    <label>Url:</label>
    <input type='url' name="thumbnail">
    <input type="submit">
</form>
<div id="productsTable">No hay datos</div>
