<% if (products.length >0) { %>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>URL</th>
        </tr>
        <% products.forEach(element => { %>
            <tr>
                <td><%=element.name %> </td>
                <td><%=element.price %> </td>
                <td><%=element.thumbnail %> </td>
            </tr>
        <% }) %>
    </table>
<% } else { %>
    <p>No hay datos</p>
<% } %>
